/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.debug {

    border: 1px solid red;
}

body {

    font-family: "Edu TAS Beginner", "sans-serif";

}

img {
    width: 100%;
}


/* Header */

header {
    background-image: url(../img/wall.png);
}

h1 {

    text-align: center;
    padding: 20px 0;
}

/* main */

main {
    background-image: url(../img/cork.png);
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;


}

.card {

    width: calc((100% / 3) - 15px);
    display: flex;

}