/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.debug {

    border: 1px solid red;
}

body {

    font-family: "Edu TAS Beginner", "sans-serif";

    background-image: url(../img/cork.png);


}

img {
    width: 100%;
    height: 100%;
}

/* utilities */

.z-index {

    z-index: 1000;
}


/* Header */

header {
    background-image: url(../img/wall.png);
}

h1 {

    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 4rem;
}

/* main */

main {
    position: relative;
}


.container {
    margin: 0 auto;
    padding: 30px 0 15px 0;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;


}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 15px);
    padding: 15px;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.card:hover {

    transform: rotate(20deg) scale(1.2);
    transition: 0.5s;
    z-index: 100;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);


}

.reset {
    z-index: 0;
    transform: rotate(0) scale(0);

}

.card:hover .pin {
    display: none;
}


.pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
}

.overlay {

    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: 1000;

}

.overlay-container {
    position: absolute;
    top: 0;
    width: 100%;

}

.d-none {
    display: none;
}

.button {

    display: flex;
    justify-content: center;

}

button {

    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;

}

button i {
    margin-left: 5px;
}

.giantCard {

    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    height: 500px;
}

/* ********** MEDIA QUERY ********** */

/* Tablet */

@media screen and (max-width: 790px) {
    .card {
        width: calc((100% / 2) - 15px);
    }

    h1 {
        font-size: 3rem;
    }
}

/* mobile */

@media screen and (max-width: 507px) {
    .card {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}